.search {
	margin-top: 6.75rem !important;
	color: var(--text-color);
	transition: transform 0.6s ease-in-out;
}
.search__input {
	display: flex;
	flex-direction: column;
	gap: 0.945625rem;
}

.search__input > form > input {
	outline-width: 0;
	outline: 2px solid transparent;
	outline-offset: 2px;
	color: var(--text-color);
	padding-top: 1.41875rem;
	padding-bottom: 12px;
	background-color: transparent;
	border-bottom: 1px solid var(--search-border);
	width: 100%;
	margin-top: -1.41875rem;
	font-size: 3.37125rem;
	line-height: 110%;
	letter-spacing: -0.02em;
	font-weight: 400;
}
.search__title {
	margin-top: 6.75rem;
	margin-bottom: 1.41875rem;
	font-size: 1.685625rem;
	line-height: 130%;
	letter-spacing: -0.005em;
	font-weight: 400;
}

.search__list {
	display: flex;
	flex-direction: column;
	gap: 0.84375rem;
	list-style: none;
}

.search__list > li:hover .li__desc {
	text-decoration-line: underline;
}

.li_wrapper {
	display: grid;
	align-items: center;
	gap: 1.41875rem;
	grid-template-rows: none;
	grid-template-columns: auto 1fr auto auto;
	height: 4rem;
	border-radius: 0.42125rem;
	overflow: hidden;
	width: 100%;
	font-size: 0.94625rem;
	line-height: 150%;
	letter-spacing: 0.0016em;
	font-weight: 400;
	background: var(--bg-accent);
}

.li__title {
	width: 17.5rem;
	margin-left: 1.41875rem;
	line-height: 1;
	display: flex;
	gap: 0.563125rem;
}

.li__desc {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	--webkit-line-clamp: 2;
	margin-top: auto;
	margin-bottom: auto;
}

.li__match {
	display: flex;
	color: var(--li-match);
	line-height: 1;
	align-items: center;
	font-size: 0.8425rem;
	line-height: 130%;
	letter-spacing: 0.0025em;
	font-weight: 400;
}

.box {
	display: flex;
	width: 4rem;
	grid-row: auto;
	grid-column: auto;
	gap: 1.41875rem;
	height: 100%;
	margin-left: auto;
}
