.right-swiper {
	position: relative;
}

.right-swiper + .right-swiper {
	margin-top: 6.75rem;
}

.container-right__title {
	margin-bottom: 2.125625rem;
	font-size: 1.686rem;
	font-weight: 400;
	letter-spacing: -0.008rem;
	line-height: 2.191rem;
}
.container-right__title a {
	transition: all 0.2s ease;
}

.container-right__title a:hover {
	color: var(--title-swiper);
}

swiper-slide.swiper-small {
	width: 22.104rem;
	border-radius: 4px;
	overflow: hidden;
}

swiper-slide.swiper-small.last {
	background: var(--background-color);
	width: 22.104rem;
	border-radius: 4px;
}

.slide {
	color: var(--text-color);
	display: block;
	position: relative;
	height: 29.471875rem;
	border-radius: 4px;
	z-index: 1;
}

swiper-slide.swiper-small:hover .swiper-small__img > img {
	transform: scale(1.05);
}

swiper-slide.swiper-small:hover .swiper-small__img > video {
	transform: scale(1.05);
}

swiper-slide.swiper-small.md:hover .swiper-small__img > img {
	transform: scale(1.05);
}

.swiper-small__container {
	border-radius: 4px;
	position: absolute;
	padding: 1.125rem;
	width: 100%;
	height: 100%;
}

.swiper-small__container2 {
	position: relative;
	width: 100%;
	height: 100%;
}

.swiper-small__title {
	text-shadow: 0 0px 15px var(--black);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.8425rem;
	line-height: 1.3;
	letter-spacing: 0.0025em;
	font-weight: 400;
}

.swiper-small__desc {
	text-shadow: 0 0px 15px var(--black);
	font-size: 1.125rem;
	line-height: 150%;
	font-weight: 400;
	position: absolute;
	bottom: 0;
	left: 0;
}

.swiper-small__img {
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.swiper-small__img > img,
video {
	transition: all 0.3s ease;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	color: transparent;
}
